body {
    --def: #000000;
    --inv: #e4b178f1;
    background-color: rgb(243, 245, 253);
    width: 100%;
    height: 100%;
   
}

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

li:not(#logo) {
    list-style: none;
    transition: all 0.5s;
}

li:hover:not(#logo) {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: #e4b178f1;
}

h1 {
    font-size: 11vw;
    text-transform: uppercase;
}

h2 {
    font-size: 6vw;
    font-weight: 500;
}

h3 {
    font-size: 1.75vw;
}

p {
    font-size: 4.5vw;
}

.main-container {
    width: 100vw;
    scroll-behavior: smooth;
}

#logo {
    font-weight: 300;
    color: #e4b178f1;
    border-bottom: 1px solid #200527c5;
    padding: 0.3em 0.5em;
    margin: 0 0.5em;
    margin-top: 0.2em;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    left: 0;
    top: 0;
    cursor: pointer;
    user-select: none;
}


#logo:before,
#logo:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

#logo:hover {
    color: var(--def);
    transition-delay: .2s;
}

#logo:hover:after {
    background: var(--inv);
    transition-delay: 0.21s;
}

#logo:after {
    top: 0;
    width: 0;
    height: 2.25em;
}

#logo:after {
    left: 0;
}

#logo:hover:after {
    width: 100%;
}

.main-nav:hover #logo {
    text-align: center;
}

.main-nav {
    z-index: 1;
    position: fixed;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

.ul_second {
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 0.4em;
}

.main-nav:hover .ul_second {
    display: block;
}

.ul_second li {
    margin: 0;
    padding: 1.7em;
    text-align: center;
}

.li-one {
    animation: translateX 400ms 60ms ease-in-out backwards;
}

.li-two {
    animation: translateX 400ms 120ms ease-in-out backwards;
}

.li-three {
    animation: translateX 400ms 180ms ease-in-out backwards;
}

.li-four {
    animation: translateX 400ms 240ms ease-in-out backwards;
}

.li-five {
    animation: translateX 400ms 300ms ease-in-out backwards;
}

.ul_second li {
    background-color: rgba(10, 10, 10, 0.6);
}

.ul_second li:last-child {
    border-top: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}


@keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.image {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: right;
    padding-bottom: 0;
}

.content {
    width: 80%;
}

#container-section-one {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(AdobeStock_268548990.jpeg);
    opacity: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#top-section-one {
    height: 57%;
    width: 100%;
    background-color: #452647;
    background-attachment: fixed;
    opacity: 0.95;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.title-container {
    padding: 3em 2em;
    z-index: 15;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.subtitle-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#bottom-section-one {
    height: 43%;
    width: 100%;
}

#section-two {
    background: #fff6fe;
    border-top: 3.5em solid #37103a;
    border-bottom: 1.25em solid #37103a;
}

#container-section-two {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
 
}

#container-section-two .content {
    text-align: center;
}

#container-section-two .content img {
    padding: 0;
}

#container-section-two .content p {
    padding-top: 3rem;
}

#container-section-two h1 {
    padding: 1rem 0; 
}

#section-two img {
    padding: 3em 1em;
    width: 75%;
}


#section-three {
    background: rgb(255, 255, 255);
    opacity: 0.9;
    background-image: url(AdobeStock_285477707.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#container-section-three {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
}

#bottom-section-three img {
   bottom: 0px;
}

#top-section-three {
    width: 100%;
    height: 58%;
    background-color: #6e434d;
    background-attachment: fixed;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-section-three .content {
    width: 80%;
    height: 65%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin: 15% 0 22% 0; */
}

#top-section-three .content h1 {
    padding: 1rem 0;
}

#top-section-three .content p {
    padding-top: 1.5rem;
  
}



#bottom-section-three {
    width: 100%;
    height: 43%;
}


@media (min-width: 650px) {

    p {
        font-size: 1.75vw;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }
    .main-container {
        height: 100vh;
        overflow-y: hidden;
    }

    .main-nav,
    .ul_second,
    .container,
    .section {
        flex-direction: row;
        display: flex;

    }

    .main-nav,
    .ul_second {
        position: fixed;
    }

    #logo {
        pointer-events: none;
    }

    .main-nav:hover .ul_second {
        display: flex;
    }

    /* .main-nav {
        pointer-events: none;
    } */

    /* a:hover {
        transform: scale(1.1);
    } */

    .ul_second {
        right: 0.2em;
        top: 0.4em;
        z-index: -1;
    }

    .ul_second li {
        background-color: unset;
        padding: 0em 1.5em;
        font-size: 1.25rem;
    }

    .container {
        width: 300vw;
    }

    .section {
        width: 100vw;
        height: 100vh;
        justify-content: space-evenly;
        /* min-width: 1000px; */
    }

    #section-one {
        min-width:unset;
    }

    #container-section-two {
        width: 90%;
        height: 90%;
        flex-direction: row;
        justify-content:space-evenly;
        margin: 1em;
        border: 6px solid #c7c6c6;
        border-radius: 3%;
    }

    #section-two img {
        width: 25%;     }

    #section-two .content img {
        padding: 1.5em 0;
        width: 95%; 
        border-radius: 0%;
    }

    #section-two .content {
        width: 40%; 
        /* min-width: 35%; */
      
    }


    #section-two h1, 
    #section-three h1 {
        font-size: 4vw;
        padding-top: 0.2em;
    }

    #section-two h2,
    #section-three h2 {
        font-size: 1.75vw;
    }

    .image {
        width: 40%;
        min-width: 270.4px;
    }

    #top-section-three .content p {
        padding-top: 2em;
        font-size: 1.35vw;
    }
    


}