body {
    --def: #000000;
    --inv: #e4b178f1;
    background-color: rgb(243, 245, 253);
    width: 100%;
    height: 100%;

}

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

li:not(#logo) {
    list-style: none;
    transition: all 0.5s;
}

li:hover:not(#logo) {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: #e4b178f1;
}

h1 {
    font-size: 11vw;
    text-transform: uppercase;
}

h2 {
    font-size: 6vw;
    font-weight: 500;
}

h3 {
    font-size: 1.75vw;
}

p {
    font-size: 4.5vw;
}

.main-container {
    width: 100vw;
    scroll-behavior: smooth;
}

#logo {
    font-weight: 300;
    color: #e4b178f1;
    border-bottom: 1px solid #200527c5;
    padding: 0.3em 0.5em;
    margin: 0 0.5em;
    margin-top: 0.2em;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    left: 0;
    top: 0;
    cursor: pointer;
    user-select: none;
}


#logo:before,
#logo:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

#logo:hover {
    color: var(--def);
    transition-delay: .2s;
}

#logo:hover:after {
    background: var(--inv);
    transition-delay: 0.21s;
}

#logo:after {
    top: 0;
    width: 0;
    height: 2.25em;
}

#logo:after {
    left: 0;
}

#logo:hover:after {
    width: 100%;
}

.main-nav:hover #logo {
    text-align: center;
}

.main-nav {
    z-index: 1;
    position: fixed;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
}

.ul_second {
    display: none;
    align-items: center;
    flex-direction: column;
    margin-top: 0.4em;
}

.main-nav:hover .ul_second {
    display: block;
}

.ul_second li {
    margin: 0;
    padding: 1.7em;
    text-align: center;
}

.li-one {
    animation: translateX 400ms 60ms ease-in-out backwards;
}

.li-two {
    animation: translateX 400ms 120ms ease-in-out backwards;
}

.li-three {
    animation: translateX 400ms 180ms ease-in-out backwards;
}

.li-four {
    animation: translateX 400ms 240ms ease-in-out backwards;
}

.li-five {
    animation: translateX 400ms 300ms ease-in-out backwards;
}

.ul_second li {
    background-color: rgba(10, 10, 10, 0.6);
}

.ul_second li:last-child {
    border-top: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}


@keyframes translateX {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    80% {
        transform: translateX(-5px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.image {
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: right;
    padding-bottom: 0;
}

.content {
    width: 80%;
}

#container-section-one {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(phonesection1.jpeg);
    opacity: 0.9;
    background-position: bottom center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: 100vw 100vh;
}

#top-section-one {
    height: 57%;
    width: 100%;
    background-color: #452647;
    background-attachment: fixed;
    opacity: 0.95;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.title-container {
    padding: 3em 2em;
    z-index: 15;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.subtitle-container {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#bottom-section-one {
    height: 43%;
    width: 100%;
}

.section:nth-child(2n) {
    background: #fff6fe;
    border-top: 3.5em solid #37103a;
    border-bottom: 1.25em solid #37103a;
}

.section:nth-child(2n) .nigga {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section:nth-child(2n) img {
    padding: 3em 1em;
    width: 75%;
}

.section:nth-child(2n) .nigga .content {
    text-align: center;
}

.section:nth-child(2n) .nigga .content img {
    padding: 0;
}

.section:nth-child(2n) .nigga .content p {
    padding-top: 3rem;
}

.section:nth-child(2n) .nigga h1 {
    padding: 1rem 0;
}

.section:nth-child(2n+3) {
    display: flex;
    width: 100vw;
    height: 100vh;
    opacity: 0.9;
    background-image: url(AdobeStock_173426825.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.section:nth-child(2n+3) .nigga {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
}

.section:nth-child(2n+3) .top {
    width: 100%;
    height: 62.5%;
    background-color: #0c262cef;
    background-attachment: fixed;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .section:nth-child(2n+3) #bottom-section-five {
    width: 100%;
    height: 50%;
} */


.section:nth-child(2n+3) .top .content {
    width: 85%;
    height: 60%;
    padding-top: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}


.section:nth-child(2n+3) #bottom-section-five .content p {
    width: 90%;
}



#section-three {
    background-image: url(AdobeStock_285477707.jpeg);

}

#container-section-three {
    z-index: 0;
    height: 100vh;
    width: 100vw;
    opacity: 1;
}

#bottom-section-three img {
    bottom: 0px;
}

#top-section-three {
    width: 100%;
    height: 58%;
    background-color: #6e434d;
    background-attachment: fixed;
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-section-three .content {
    width: 80%;
    height: 65%;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* margin: 15% 0 22% 0; */
}

#top-section-three .content h1 {
    padding: 1rem 0;
}

#top-section-three .content p {
    padding-top: 0.5rem;
}



#bottom-section-three {
    width: 100%;
    height: 43%;
}

#container-section-four h2 {
    padding-top: 2rem;
}

#container-section-four p {
    padding-top: 0.5rem;
}

#paragraph-four {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid black;
}


.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}

@media (min-width: 650px) {

    p {
        font-size: 1.5vw;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    .main-container {
        height: 100vh;
        overflow-y: hidden;
    }

    #container-section-one {
        background: url(AdobeStock_268548990.jpeg) center center fixed no-repeat;
        background-size: cover;
        overflow-y: hidden;


    }

    .main-nav,
    .ul_second,
    .container,
    .section {
        flex-direction: row;
        display: flex;

    }

    .main-nav,
    .ul_second {
        position: fixed;
    }

    #logo {
        pointer-events: none;
    }

    .main-nav:hover .ul_second {
        display: flex;
    }

    /* .main-nav {
        pointer-events: none;
    } */

    /* a:hover {
        transform: scale(1.1);
    } */

    .ul_second {
        right: 0.2em;
        top: 0.4em;
        z-index: -1;
    }

    .ul_second li {
        background-color: unset;
        padding: 0em 1.5em;
        font-size: 1.25rem;
    }

    .container {
        width: 600vw;

    }

    .section {
        width: 100vw;
        height: 100vh;
        justify-content: space-evenly;
        /* min-width: 1000px; */
    }

    #section-one {
        min-width: unset;
    }

    #container-section-two {
        width: 90%;
        height: 90%;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1em;
        border: 6px solid #c7c6c6;
        border-radius: 3%;
    }

    #section-two img {
        width: 25%;
    }

    #section-two .content img {
        padding: 1.5em 0;
        width: 80%;
        border-radius: 0%;
    }

    #section-two .content {
        width: 40%;
        /* min-width: 35%; */

    }

    #section-two .content p {
        padding-top: 1em;
    }


    .section h1 {
        font-size: 4vw;
        padding-top: 0.2em;
    }

    #section-two h2,
    #section-three h2 {
        font-size: 1.75vw;
    }

    .image {
        width: 40%;
        min-width: 270.4px;
    }

    #top-section-three {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #top-section-three img {
        margin-right: 0em;
        padding: 3em 1em;
        width: 25%;
        margin-bottom: 3rem;

    }

    #top-section-three .content {
        top: 0;
        margin-left: 0em;
        width: 50%;
        padding: 0;
        margin-bottom: 3rem;
        margin-top:0;
    }

    #top-section-three .content p {
        padding-top: 1em;
        width: 100%;

    }


    .section:nth-child(2n) .nigga {
        width: 90%;
        height: 90%;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1em;
        border: 6px solid #c7c6c6;
        border-radius: 3%;
    }


    .section:nth-child(2n) .nigga img {
        width: 35%;

    }

    .section:nth-child(2n) .nigga .content {
        width: 45%;
    }

    #container-section-six {
        flex-direction:row;
        justify-content: center;

    }
    .inner-container {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .inner-container .container-up {
        width: 100%;
        height: 50%;
        align-items: center;
        text-align: center; 
        justify-content: center;
        /* justify-content: space-evenly;
        align-items: center;
        text-align: center; */
        /* border: 2px solid rgb(134, 26, 44); */

    }
    .inner-container .container-down {
        height: 50%;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        /* border: 2px solid rgb(134, 26, 44); */

    }

    .container-down #content-up {
        justify-content: center;

        display: flex;
        flex-direction: column;
        width: 100%;
        padding:0;
        align-items: center;
        text-align: center;
    }
 
    .container-down p, 
    .container-up p {
        /* width: 70%; */
align-items: center;        
        /* align-items: center;
        text-align: center; */
    } 

    #january-pic-up,
    #january-pic-down {
        width: 20%;
    }

    .section:nth-child(2n+3) .top {
        width: 100%;
        height: 100%;
        background-attachment: fixed;
        opacity: 1;
        clip-path: polygon(0 0, 0% 100%, 100% 0);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: left;

    }


    .section:nth-child(2n+3) .nigga .top .content {
        padding: 0;
        width: 55%;
        height: 52.5%;
        left: 0;
        margin-left: 1rem;
        margin-top: 2rem;

    }

    .section:nth-child(2n+3) .nigga .top .content h1 {
        padding: 1rem 0;
    }

    .section:nth-child(2n+3) .nigga .top .content h1 {
        padding-top: 0.5rem;
    }
    .section:nth-child(2n+3) .nigga .top .content p {
        width: 90%;
    }

    .section:nth-child(2n+3) .nigga .top .content p:nth-child(4) {
        width: 80%;
    }

    .section:nth-child(2n+3) .nigga .top .content p:nth-child(7) {
        width: 55%;
    }


    .section:nth-child(2n+3) .nigga .bottom .content {
        width: 70%;
    }


    /* .section:nth-child(2n+3) .nigga .top img {
        height: 27%;
        margin-top: 3rem;
        margin-left: 5rem;
        margin-bottom: 5rem;
    }
} */